venv/

*.pyc
__pycache__/

instance/
migrations/

.pytest_cache/
.converage
htmlcov/

dist/
build/
*.egg-info/

.env
hjohnson933.session.sql
out/*
learn*.py
*/data/
requirements.txt

diabeteswarrior.code-workspace
.vscode
instance_old/app.db
instance_old/app2.db
migrations_old/alembic.ini
migrations_old/script.py.mako
migrations_old/versions/0bd7d333a03e_init.py
migrations_old
instance_old
dwarrior.session.sql
