{% extends 'layout.html' %}
{% block content %}
  <div class="content-section">
    <form method="POST" action="">
      <{{ form.hidden_tag() }}
      <fieldset class="from-group">
        <legend class="border-bottom mb-4">{{ legend }}</legend>
        <div class="form-group" id="title">
          {{ form.title.label(class="form-control-label") }}
          {% if form.title.errors %}
            {{ form.title(class="form-control form-control-sm is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.title.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.title(class="form-control form-control-sm")}}
          {% endif %}
        </div>
        <div class="form-group" id="message">
          {{ form.message.label(class="form-control-label") }}
          {% if form.message.errors %}
            {{ form.message(class="form-control form-control-sm is-invlaid") }}
            <div class="invalid-feedback">
              {% for error in form.message.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.message(class="form-control form-control-sm") }}
          {% endif %}
        </div>
        <div class="form-group" id="glucose">
          {{ form.glucose.label(class="form-control-label") }}
          {% if form.glucose.errors %}
            {{ form.glucose(class="form-control form-control-sm is-invlaid") }}
            <div class="invalid-feedback">
              {% for error in form.glucose.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.glucose(class="form-control form-control-sm") }}
          {% endif %}
        </div>
        <div class="form-group" id="trend">
          {{ form.trend.label(class="form-control-label") }}
          {% if form.trend.errors %}
            {{ form.trend(class="form-control form-control-sm is-invlaid") }}
            <div class="invalid-feedback">
              {% for error in form.trend.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.trend(class="form-control form-control-sm") }}
          {% endif %}
        </div>
        <div class="form-group" id="notes">
          {{ form.notes.label(class="form-control-label") }}
          {% if form.notes.errors %}
            {{ form.notes(class="form-control form-control-sm is-invlaid") }}
            <div class="invalid-feedback">
              {% for error in form.notes.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.notes(class="form-control form-control-sm") }}
          {% endif %}
        </div>
        <div class="form-group" id="'bolus">
          {{ form.bolus.label(class="form-control-label") }}
          {% if form.bolus.errors %}
            {{ form.bolus(class="form-control form-control-sm is-invlaid") }}
            <div class="invalid-feedback">
              {% for error in form.bolus.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.bolus(class="form-control form-control-sm") }}
          {% endif %}
        </div>
        <div class="form-group" id="bolus_u">
          {{ form.bolus_u.label(class="form-control-label") }}
          {% if form.bolus_u.errors %}
            {{ form.bolus_u(class="form-control form-control-sm is-invlaid") }}
            <div class="invalid-feedback">
              {% for error in form.bolus_u.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.bolus_u(class="form-control form-control-sm") }}
          {% endif %}
        </div>
        <div class="form-group" id="basal">
          {{ form.basal.label(class="form-control-label") }}
          {% if form.basal.errors %}
            {{ form.basal(class="form-control form-control-sm is-invlaid") }}
            <div class="invalid-feedback">
              {% for error in form.basal.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.basal(class="form-control form-control-sm") }}
          {% endif %}
        </div>
        <div class="form-group" id="basal_u">
          {{ form.basal_u.label(class="form-control-label") }}
          {% if form.basal_u.errors %}
            {{ form.basal_u(class="form-control form-control-sm is-invlaid") }}
            <div class="invalid-feedback">
              {% for error in form.basal_u.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.basal_u(class="form-control form-control-sm") }}
          {% endif %}
        </div>
        <div class="form-group" id="food">
          {{ form.food.label(class="form-control-label") }}
          {% if form.food.errors %}
            {{ form.food(class="form-control form-control-sm is-invlaid") }}
            <div class="invalid-feedback">
              {% for error in form.food.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.food(class="form-control form-control-sm") }}
          {% endif %}
        </div>
        <div class="form-group" id="food_u">
          {{ form.food_u.label(class="form-control-label") }}
          {% if form.food_u.errors %}
            {{ form.food_u(class="form-control form-control-sm is-invlaid") }}
            <div class="invalid-feedback">
              {% for error in form.food_u.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.food_u(class="form-control form-control-sm") }}
          {% endif %}
        </div>
        <div class="form-group" id="medication">
          {{ form.medication.label(class="form-control-label") }}
          {% if form.medication.errors %}
            {{ form.medication(class="form-control form-control-sm is-invlaid") }}
            <div class="invalid-feedback">
              {% for error in form.medication.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.medication(class="form-control form-control-sm") }}
          {% endif %}
        </div>
        <div class="form-group" id="exercise">
          {{ form.exercise.label(class="form-control-label") }}
          {% if form.exercise.errors %}
            {{ form.exercise(class="form-control form-control-sm is-invlaid") }}
            <div class="invalid-feedback">
              {% for error in form.exercise.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.exercise(class="form-control form-control-sm") }}
          {% endif %}
        </div>
      </fieldset>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
      </div>
    </form>
  </div>
{% endblock %}