{% extends 'layout.html' %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-image" src="{{ url_for('static', filename='profile_pics' + scan.author.image_file) }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{{ url_for('users.user_scans', username=scan.author.username) }}">{{ scan.author.username }}</a>
        <small class="text-muted">{{ scan.date_posted.strftime('%Y-%m-%d') }}</small>
        {% if scan.author == current_user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('scans.update_scan', scan_id=scan.id) }}">Update</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ scan.title }}</h2>
      <p class="article-content">
        <span>Message: {{ health.message }}</span>
        <span>Glucose: {{ health.glucose }}</span>
        <span>Trend: {{ health.trend }}</span>
        <span>Notes: {{ health.notes }}</span>
        <span>Bolus: {{ health.bolus }}</span>
        <span>Bolus_U: {{ health.bolus_u }}</span>
        <span>Basal: {{ health.basal }}</span>
        <span>Basal_U: {{ health.basal_u }}</span>
        <span>Food: {{ health.food }}</span>
        <span>Food_U: {{ health.food_u }}</span>
        <span>Medication: {{ health.medication }}</span>
        <span>Exercise: {{ health.exercise }}</span>
      </p>
    </div>
  </article>
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Scan Record?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('scans.delete_scan', scan_id=scan.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}