{% extends 'layout.html' %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img " src="{{ url_for('static', filename='profile_pics' + health.author.image_file)">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{{ url_for('users.user_healths', username=health.author.username) }}">{{ health.author.username }}</a>
        <small class="text-muted">{{ health.date_posted.strftime('%Y-%m-%d') }}</small>
        {% if health.author == current_user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('healths.update_health', health_id=health.id) }}">Update</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ health.title }}</h2>
      <p class="article-content">
        <span>Pulse: {{ health.po_pulse }}</span>
        <span>Oxygen: {{ health.po_ox }}</span>
        <span>Weight: {{ health.weight }}</span>
        <span>Fat: {{ health.fat }}</span>
        <span>Pulse: {{ health.bp_pulse }}</span>
        <span>Systolic: {{ health.bp_systolic }}</span>
        <span>Diastolic: {{ health.bp_diastolic }}</span>
        <span>Irregular Heart Beat: {{ health.bp_ihb }}</span>
        <span>Hypertension Stage: {{ health.bp_hypertension }}</span>
        <span>Body Temperature: {{ health.temperature }}</span>
      </p>
    </div>
  </article>
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Health Record?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('healths.delete_health', health_id=health.id) }}" method="POST">
            <input class="'btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
