{% extends "base.html" %}
{% block content%}
<div class="content-section" id="register-section">
  <form method="post" action="" id="register-form">
    {{ form.hidden_tag() }}
    <fieldset class="form-group" id="register-fields">
      <legend class="border-bottom mb-4" id="register-legend">Register Now</legend>
      <div class="form-group" id="register-username">
        {{ form.username.label(class="form-control-label") }}
        {% if form.username.errors %}
          {{ form.username(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.username.errors %}<span>{{ error }}</span>{% endfor %}
            </div>
        {% else %}
          {{ form.username(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class="form-group" id="register-email">
        {{ form.email.label(class="form-control-label") }}
          {% if form.email.errors %}{{ form.email(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.email.errors %}<span>{{ error }}</span>{% endfor %}
            </div>
          {% else %}
            {{ form.email(class="form-control form-control-lg") }}
          {% endif %}
      </div>
      <div class="form-group" id="register-password">
        {{ form.password.label(class="form-control-label") }}
        {% if form.password.errors %}
          {{ form.password(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.password.errors %}<span>{{ error }}</span>{% endfor %}
            </div>
        {% else %}
          {{ form.password(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class="form-group" id="register-confirm-password">
        {{ form.confirm.label(class="form-control-label") }}
        {% if form.confirm.errors %}
          {{ form.confirm(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.confirm.errors %}<span>{{ error }}</span>{% endfor %}
            </div>
        {% else %}
          {{ form.confirm(class="form-control form-control-lg") }}
        {% endif %}
      </div>
    </fieldset>
      <div class="form-group" id="register-submit-btn">
        {{ form.submit(class="btn btn-outline-info") }}
      </div>
  </form>
</div>
<div class="border-top pt-3" id="register-login-url">
  <small class="text-muted">Already Registered  ? <a class="ml-2" href="{{ url_for('login') }}">Login</a></small>
</div>
{% endblock  content %}