<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>

  <body>
    <div>
      Diabetes Warrior:
      <a href="{{ url_for('main.index') }}">Home</a>
      {% if current_user.is_anonymous %}
      <a href="{{ url_for('main.login') }}">Login</a>
      {% else %}
      <a href="{{ url_for('main.logout') }}">Logout</a>
      {% endif %}
      <a href="/scan/">Scan</a>
      <a href="/meal/">Meal</a>
      <a href="/health/">Health</a>

      {% block content %}{% endblock %}
      </div>
  </body>

  </html>