{%extends "base.html"%}

{%block content%}
  <div class="content-section">
    <h1>{{ title }}</h1>
    {%if rid == 1%}
      <iframe class="iframe col-12" height="1368" width="110%" src="/scans/" title="Glucose"></iframe>
    {%elif rid == 2%}
      <iframe class="iframe col-12" height="1368" width="110%" src="/healths/" title="Health"></iframe>
    {%elif rid == 3%}
    <iframe class="iframe col-12" height="1368" width="100%" src="/foods/" title="Health"></iframe>
    {%else%}
      <p>"PDF report here"</p>
    {%endif%}
  </div>
{%endblock%}