{% extends "base.html" %}

{% block content %}
<div class="content-section">
    <h1>{{ title }}</h1>
    <form id="{{ title.lower() }}-form" action="" method="POST">
      {{ form.hidden_tag() }}
      <fieldset id="{{ title.lower() }}-fields" class="form-group">
        <legend id="{{ title.lower() }}-legend" class="border-bottom mb-4">Login Now.</legend>
        {% for each in fields %}
          <div id="{{ each }}-field" class="form-group row">
            <div id="{{ each }}-label" class="form-group col">
              {{ form[each].label(class="form-control-sm") }}
            </div>
            <div id="{{ each }}-value" class="form-group col">
              {% if form[each].errors %}
                {{ form[each](class="form-control form-control-sm is-invalid") }}
                <div id="{{ each }}-error" class="invalid-feedback">
                  {% for error in form[each].errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form[each](class="form-control form-control-sm") }}
              {% endif %}
            </div>
          </div>
        {% endfor %}
        <div id="remember-me" class="form-group row">
          <div id="remember-me-label" class="form-group col">
            {{form.remember_me.label(class="form-check-label") }}
          </div>
          <div id="remember-me-value" class="form-group col">
            {{ form.remember_me(class="form-check-input") }}
          </div>
        </div>
      </fieldset>
      <br>
      <div id="{{ title.lower() }}-submit" class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
      </div>
      <small id="forgot-password" class="text-muted">
        <a href="#">  Request Password Reset </a>
      </small>
    </form>
</div>
<div id="{{ title.lower() }}-footer" class="border-top pt-3">
  <small class="text-muted">
    New User?
    <a href="{{ url_for('main.register') }}">Click to register!</a>
  </small>
</div>
{% endblock content %}
