{% extends "base.html" %}

{% block content %}
  <!-- class="content-section" -->
<div>
    <h1>{{ title }}</h1>
    <form action="", method="POST">
      {{ form.hidden_tag() }}
      <!-- class="form-group" -->
      <fieldset>
        <!-- class="border-bottom, mb-4" -->
        <legend>Register Now.</legend>
        {% for each in fields %}
          <!-- class="form-group" -->
          <div>
            <!-- class="form-control-label"; "form-control form-control-lg"  -->
            {{ form[each].label }}: {{ form[each] }}
          </div>
        {% endfor %}
      </fieldset>
      <!-- class="form-group" -->
      <div>
        <!-- class="btn btn-outline-info" -->
        {{ form.submit() }}
      </div>
    </form>
</div>
<!-- class="border-top pt-3" -->
<div >
  <!-- class="text-muted" -->
  <small>
    Already Registered?
    <!-- class="ml-2" -->
    <a href="{{ url_for('main.login') }}">Login Now.</a>
  </small>
</div>
{% endblock content %}